<div class="dialog-container">
  <h2 class="dialog-title">Ajouter un produit</h2>
  <form [formGroup]="sessionForm" class="row justify-content-center align-items-center scale-in-center mt-3 p-4">
    <div class="col-12">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom de produit</mat-label>
        <input formControlName="name" matInput name="name" type="text">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>matricule</mat-label>
        <textarea formControlName="matricule" matInput name="matricule" rows="6">
        </textarea>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ouvrier</mat-label>
        <input formControlName="user" matInput name="user" type="text"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>flan</mat-label>
        <input formControlName="flan" matInput name="flan" type="text"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <label>le produit est défectueux
      </label>
      <mat-radio-group formControlName="isDefective" matInput name="flan">
        <mat-radio-button value="true">Oui</mat-radio-button>
        <mat-radio-button value="false">Non</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-12">
      <button (click)="submitProduct()" [disabled]="!sessionForm.valid" class="submit-btn full-width" color="accent"
              mat-flat-button>
        Enregistrer
      </button>
    </div>
  </form>
</div>
